section
  article
    h3.title Carnes Disponiveis
    p.message {{ message }}

    table
      thead
        tr
          th
      tbody
        tr(data-ng-repeat='carne in carnes')
          td {{ carne._id }}
          td {{ carne.tipo }}
          td {{ carne.categoria }}
          td {{ carne.peso }}
          td {{ carne.preco }}
